@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Fondamento);

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.bg:before {
	z-index: -1;
	position: fixed;
	left: 0;
	top: 0;
	content: url('../img/pizza1.jpg');
}

.navbar {
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,1);
	box-shadow: 10px 10px 30px 0px rgba(0,0,0,1);
}

#center {
	display: block;
	width: 100%;
	padding: 20px 5px;
	text-align: center;
	background-image: url('../img/lightpaperfibers.png');
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,1);
	box-shadow: 10px 10px 30px 0px rgba(0,0,0,1);
}

#center h1 {
	font-size: 400%;
	letter-spacing: -1px;
	color: #612C8D;
}

#center h2 {
	color: #612C8D;
	margin-bottom: 0px;
}

#center h1, h2 {
	font-family: 'Fondamento', sans-serif;		
}

#center h3, h4, h5, p {
	font-family: 'Open Sans', sans-serif;	
}

#center p {
	font-size: 16px;
	color: #000000;
}

hr {
	background: #F7C212; 
	width: 70%; 
	height: 2px;
	margin-top: 2em;
	margin-bottom: 2em;
}

.logo {
	width: 80%;
	padding-top: 2em;
}

em {
	font-style: italic;
	display: block;
}

footer {
	font-size: 80%;
	text-align: center;
	border-top: solid #777777;
	border-width: 1px;
	background-color: #FFFFFF;
	color: #777777;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.blurb {
	font-size: 125%;
	margin: 2px;
	font-style: italic;
}

p {
	margin: 0px;
}

.name {
	padding: 0.5em;
	font-size: 150%;
	font-weight: bold;
}

/*******************
*Youtube Shenanigans*
********************/

.frame {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 16px;
	overflow: hidden;
}

.frame.wide { padding-bottom: 57.25%; }

.frame-video iframe,
.frame-video object,
.frame-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
	.frame-video { padding-top: 0; }
}
